[submodule "external/multiworld"]
	path = external/multiworld
	url = https://github.com/ryanjulian/multiworld.git
	branch = rjulian
[submodule "external/embed_onpolicy"]
	path = external/embed_onpolicy
	url = https://github.com/eric-heiden/embed_onpolicy.git
