[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]

yapf = "*"


[packages]

dm-control = {git = "git://github.com/deepmind/dm_control.git"}
numpy = "*"
jupyter = "*"
ipython = "*"
scipy = "*"
matplotlib = "*"
gym = {extras = ["extras"]}
mujoco-py = "<1.50.2,>=1.50.1"
tensorflow-gpu = "*"
rllab = {editable = true, git = "git://github.com/rll/rllab.git"}
"path.py" = "*"
joblib = "*"
theano = "*"
pyprind = "*"
"box2d" = {git = "git://github.com/pybox2d/pybox2d.git"}
mako = "*"
cached-property = "*"
pygame = "*"


[requires]

python_version = "3.5"
